- content_for :page_title, t('.title')
- content_for :page_tagline, t('.subtitle')
%table.table
  %thead
    %tr
      %th Leeder
      %th Name
      %th How long have been a leeder?
      %th Authentication
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.display, user
        %td= user.name
        %td= time_ago_in_words(user.created_at.to_date)
        %td
          = link_to image_tag("http://github.com/intridea/authbuttons/raw/master/png/openid_32.png"), user if user.authentications.exists?(:provider => 'developer')
          = link_to image_tag("http://github.com/intridea/authbuttons/raw/master/png/twitter_32.png"), "http://twitter.com/#{user.username}" if user.authentications.exists?(:provider => 'twitter')
          = link_to image_tag("http://github.com/intridea/authbuttons/raw/master/png/facebook_32.png"), "http://facebook.com/#{user.username}" if user.authentications.exists?(:provider => 'facebook')
- unless current_user
  .well.links
    Want to join? 
    = link_to 'Become a Leeder', "/join", class: 'btn primary'
