- content_for :page_title, "Profile for #{@user.display}"
- content_for :page_tagline, "Learn something new"
- if notice
  #notice.alert-message.success= notice
.profile_picture{style: "float:right; margin-right: 15px; margin-top: 15px;"}= gravatar_for @user, 100
%h2 Quick hits
%p Here's the information in the profile
%table.table.table-striped
  %tbody
    %tr
      %th Name
      %td= @user.name
    %tr
      %th= t 'model.user.gender.display'
      %td
        - if @user.gender.blank? || @user.gender == 'Unspecified'
          %span.stand-back= t("model.user.gender.unspecified.#{('a'..'e').to_a.sample}")
        - else
          = @user.gender
    %tr
      %th= t 'model.user.age.display'
      %td
        - if @user.dob.blank?
          %span.stand-back= t("model.user.age.unspecified.#{('a'..'e').to_a.sample}")
        - else
          = @user.age
    %tr
      %th 
        %i.icon-map-marker
        Location
      %td 
        %span.stand-back 
          The interhighway.
          = link_to "#modal-for-youtube", data: { toggle: 'modal', backdrop: "static" } do
            %i.icon-road
    %tr
      %th
        %i.icon-time
        Timezone
      %td
        = Time.zone
    %tr
      %th Bio
      %td
        .stand-back Fantastic. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tellus diam, venenatis ac gravida id, varius et mi. Vestibulum est ante, imperdiet ut vulputate accumsan, blandit vitae orci.
    %tr
      %th Member since
      %td= l @user.created_at.to_date, format: :long
    %tr
      %th Last updated profile
      %td= l @user.updated_at.to_date, format: :long
    %tr
      %th Last activity
      %td= l @user.updated_at.to_date, format: :long
%h2 Authentications
%table.authentications.table.table-striped
  %thead
    %tr
      %th
      %th Provider
      %th Linked on
  %tbody
    - @user.authentications.each do |auth|
      %tr
        %td= authentication_image_for auth
        %td= auth.provider.titleize
        %td= l auth.created_at.to_date, format: :long
.well
  - if can? :update, @user
    = link_to edit_user_path(@user), class: 'btn btn-large' do
      %i.icon-pencil
      = (current_user == @user)? 'Edit your profile' : "Edit this user's profile"
    = link_to users_path, class: 'btn btn-large' do
      %i.icon-share-alt
      Return to viewing users
#modal-for-youtube.modal.hide.fade
  .modal-header
    %button.close{ type: 'button', 'data-dismiss' => 'modal' } ×
    %h3 The interhighway
  .modal-body
    %div{ style: "margin-left: 55px;"}
      <iframe width="420" height="315" src="http://www.youtube.com/embed/QAJZKKIDt2o" frameborder="0" allowfullscreen></iframe>