- content_for :page_title, (@category.nil? ? t('.title') : @category.pluralize.titleize)
- content_for :page_tagline, t('.subtitle')
= stylesheet_link_tag "event_calendar"
- if @event
  .event.featured
    %div{ style: "text-align: right;" }
      Featured event
    = render @event
.spacer{ style: "margin-bottom:20px;" }
%h2 Calendar
%p 
  - if @category.blank?
    Below you can view all of the events for the upcoming month.
  - else
    Below you can view the
    = @category.pluralize
    for the upcoming month.
    = link_to "View all events instead", events_path, class: 'btn'
= render 'calendar/calendar'
- if can? :create, Event
  .links.well
    = link_to 'New Event', new_event_path, class: 'btn'