- content_for :page_title, @event.category.humanize
- content_for :page_tagline, t('.subtitle')
%div{class: "event #{@event.category}"}
  %h2= @event.name
  %h3= @event.teaser
  .description
    = markdown_to_html(@event.description)
  %p
    %i.icon-calendar
    = l @event.start_at
    &rarr;
    = l @event.end_at
  %p
    %i.icon-map-marker
    = link_to_if can?(:read, @event.location), @event.location.name, @event.location
  %p
    %b Category:
    = @event.category.humanize
.well
  - if can? :update, @event
    = link_to edit_event_path(@event), class: 'btn' do
      %i.icon-pencil
      Edit this event
  = link_to events_path, class: 'btn' do
    %i.icon-share-alt
    Back to checking out the events