= form_for(@post) do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = pluralize(@post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %legend
    .field.clearfix
      = f.label :title
      .input= f.text_field :title
    .field.clearfix
      = f.label :subtitle
      .input= f.text_field :subtitle
    .field.clearfix
      = f.label :body
      .input= f.text_area :body
    .field.clearfix
      = f.label :user_id
      .input= f.collection_select :user_id, @users, :id, :username
  .actions.well
    = f.submit class: "btn primary large"
    - unless @post.new_record?
      = link_to 'Nevermind, back to the post', @post, class: 'btn large'
    - else
      = link_to 'Nevermind, back to viewing the posts', posts_path, class: 'btn large'