= form_for(@location, html: { class: 'form-horizontal' }) do |f|
  - if @location.errors.any?
    .alert.alert-error
      %h2
        = pluralize(@location.errors.count, "error")
        prohibited this location from being saved:
      %ul
        - @location.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .field.control-group
      = f.label :name
      .controls= f.text_field :name
    .field.control-group
      = f.label :url
      .controls= f.text_field :url
    .field.control-group
      = f.label :address
      .controls= f.text_field :address
    .field.control-group
      = f.label :latitude
      .controls
        = f.text_field :latitude, disabled: true
        %span.help-block Calculated from address
    .field.control-group
      = f.label :longitude
      .controls
        = f.text_field :longitude, disabled: true
        %span.help-block Calculated from address
  .actions.well
    = f.submit class: 'btn btn-success btn-large'
    - if @location.new_record?
      = link_to "Cancel, and return to locations", locations_path, class: 'btn btn-warning btn-large'
    - else
      = link_to "Cancel, and return to location", @location, class: 'btn btn-warning btn-large'
