- content_for :page_title, t('.title')
- content_for :page_tagline, t('.subtitle')
- unless @locations.empty?
  %table
    %thead
      %tr
        %th Name
        %th Address
        %th Latitude
        %th Longitude
    %tbody
      - @locations.each do |location|
        %tr
          %td= link_to location.name, location
          %td= location.address
          %td= location.latitude
          %td= location.longitude
- else
  %p= t '.no_results'
- if can? :create, Location
  .links.well
    = link_to 'New Location', new_location_path, class: 'btn'
