.row
  .span4
    %h2.brand= t('site_title')
    %p= t('site_tagline')
    %p= link_to_twitter t('twitter')
    %p= link_to_facebook t('facebook')
    %p= link_to t('website'), "http://#{t('website')}"
    %p= link_to t('website2'), "http://#{t('website2')}"
  .span3
    %nav= render 'layouts/nav'    
  .span3
    %p Now you too can be a fan.
    %p
      &rarr;
      = link_to 'Top of page', '#page-top'
    %p 
      The background image on the homepage courtesy of 
      = link_to 'Killer Kun', 'http://www.killerkun.com/2011/03/alana-lee-gives-me-butterflies.html'