.navbar-inner
  .container
    =link_to t(:site_title), root_path, { class: 'brand'}
    %ul.nav
      %li= link_to t('nav.about'), about_path
      %li.dropdown
        = link_to updates_path, { class: 'dropdown-toggle', data: { toggle: 'dropdown', target: '#' } } do
          Updates
          %b.caret
        %ul.dropdown-menu
          %li= link_to 'Posts', posts_path
          %li= link_to_events_by_category :concert
          %li= link_to 'Events', events_path
          %li.divider
          %li= link_to 'All updates', updates_path
      %li.dropdown
        = link_to media_path, { class: 'dropdown-toggle', data: { toggle: 'dropdown', target: '#' } } do
          Media
          %b.caret
        %ul.dropdown-menu
          %li= link_to "Music ♫<br>&nbsp;&nbsp;& music videos".html_safe, media_type_path(:music)
          %li= link_to_media_by_type :video
          %li= link_to_media_by_type :image
          %li.divider
          %li= link_to 'All media', media_path
      %li= link_to t("nav.contact"), contact_path
      - unless current_user
        %li.dropdown
          = link_to locales_path, { class: 'dropdown-toggle', style: "height: 13px; vertical-align: middle;", data: {toggle: 'dropdown', target: '#'} } do
            = image_tag('icons/media/16/language.png')
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'English', '/?locale=en'
            %li= link_to 'Español', '/?locale=es'
            %li.divider
            %li= link_to 'All locales', locales_path
            %li= link_to 'Translation Center', translations_path
    - if current_user        
      %ul.nav.secondary-nav
        %li.dropdown
          = link_to profile_path, { class: 'dropdown-toggle', data: { target: '#', toggle: 'dropdown' } } do
            = gravatar_for current_user, 16, { style: "vertical-align: middle;" }
            &nbsp;
            = current_user.username
            %b.caret
          %ul.dropdown-menu
            %li= link_to 'Profile', profile_path
            %li= link_to 'Profile', profile_path
            %li.divider
            %li= link_to 'Logout', logout_path
    - else
      .pull-right{ style: "margin-top: 7px;" }
        = link_to image_tag("authentications/sign-in-with-twitter-l.png"), '/auth/developer'