%h3= t "nav.title"
%ul.unstyled
  %li
    = link_to t("nav.home"), root_path
    %ul
      %li= link_to t("nav.about"), about_path
      %li= link_to t("nav.contact"), contact_path
  %li
    = link_to 'Updates', updates_path
    %ul
      %li= link_to 'Posts', posts_path
      %li= link_to_events_by_category :concert
      %li= link_to 'Events', events_path
  %li
    = link_to 'Media', media_path
    %ul
      - Medium.form_options.each do |key, value|
        %li= link_to_media_by_type key