<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="main">
    <div id="page-top"></div>
    <div class="topbar">
      <%= render 'layouts/header' %>
    </div>

    <div class="container">
      <div class="content">
        <span id="page-top"></span>
        <div class="page-header">
          <h1><%= yield :page_title %>&nbsp;&nbsp;<small><%= yield :page_tagline %></small></h1>
        </div>
        <div class="row">
          <div class="span11">
            <%= render 'layouts/alerts' %>
            <%= yield %>
          </div>
          <div class="span5">
            <% if content_for :page_nav %>
              <%= yield(:page_nav) %>
            <% end %>
            <%= render 'layouts/nav' %>
          </div>
        </div>
      </div>

      <footer>
        <%= render 'layouts/footer' %>
      </footer>
      <footer>
        <p>&copy; The Company 2012</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>