<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body class="display">

    <div class="topbar">
      <%= render 'layouts/header' %>
    </div>

    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1><%= yield :page_title %></h1>
        <p><%= yield :page_tagline %></p>
        <% if false %>
          <p><%= link_to 'Learn more »', yield(:page_learnmore_link), class: "btn large" %></p>
        <% end %>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span5" style="padding-top: 10px;">
          <h2>Upcoming concerts</h2>
          <p>Finally, Alana has released information related to concerts. She will be traveling as time allows in California and then a trip to the East coast is needed.</p>
          <p><%= link_to 'View the concerts »', '/updates/concerts', class: 'btn' %></p>
        </div>
        <div class="span5 featured">
          <h2><%= @media.name %></h2>
          <p><%= @media.teaser %></p>
          <p><%= link_to t("media.buttons.view."+@media.form)+" »", @media, class: 'btn' %></p>
       </div>
        <div class="span5" style="padding-top: 10px;">
          <h2>Interview with Alana</h2>
          <p>We sat down with Alana to ask her questions provided by you. Check out the results. You may be surprised.</p>
          <p><%= link_to 'View the interview »', '/updates/posts/1-Interview-with-Alana', class: 'btn' %></p>
        </div>
      </div>

      <footer>
        <%= render 'layouts/footer' %>
      </footer>
      <footer>
        <p>&copy; The Company 2012</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>